<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form's</title>
    {% if output == '' %}
        <h2> search by typing name</h2>
    {% else %}
        <h2> {{ output }}</h2>
    {% endif %}
</head>
<body>
  <form method="GET", action="/assignment9" >
      <h2>name</h2>
      <input name = 'name'>
      <input type="submit">
  </form>

    {% if flag == '' %}
        <h1>hi {{ session['name']}}</h1>
        <form action="/assignment9", method="POST">
              <h1> press submit to logout</h1>
              <input type="submit">
        </form>
    {% else %}
        <h1>welcome to Registration</h1>
        <form method="POST", action="/assignment9" >
        <h2> name </h2>
        <input name = 'name'>
        <input name = 'submit2' type = submit>
        </form>
   {% endif %}
</body>
</html>